<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scorpio.mysplashscreen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme = "@style/SplashTheme"> //aqui dentro de activity añadimos esta nueva
                                                    // propiedad, theme
            /** de esta forma estamos indicando que nuestra activity principal o pantalla principal
             llamada main activity utilize el tema que acabamos de crear (splashscreen), esto
            tambien debe ser señalado en main activity, de la manera que se detalla en comentarios
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>